asgiref==3.10.0
astroid==3.3.11
crispy-bootstrap5==2025.6
dill==0.4.0
dj-database-url==3.0.1
dj-email-url==1.0.6
Django==5.2.7
django-cache-url==3.4.5
django-crispy-forms==2.4
environs==14.5.0
gunicorn==23.0.0
isort==6.1.0
marshmallow==4.1.0
mccabe==0.7.0
packaging==25.0
platformdirs==4.5.0
psycopg2-binary==2.9.11
pylint==3.3.9
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
python-dotenv==1.2.1
sqlparse==0.5.3
tomlkit==0.13.3
whitenoise==6.11.0
