<div>
    <p id="comment-{{ comment.pk }}-text" class="my-0">
        {{ comment.text }}
        {% if comment.author == user %}
            <a href="{% url 'comment_edit' comment.pk %}"
               hx-get="{% url 'comment_edit' comment.pk %}"
               hx-swap="outerHTML"
               hx-target="closest p">edit</a>
        {% endif %}
    </p>
    <p class="text-muted mb-1">
        <span>- {{ comment.author }}</span>
    </p>
    {% include "posts/partials/_comment_like.html" %}
</div>
